:root {
  --muted-color: rgba(212, 211, 211);
  --darker-color: rgba(187, 187, 187);
  --liked-color: rgb(237,73,86);
  --background-color: #f3f3f3;
  --image-background: rgb(29, 29, 29)
}

body {
  background-color: var(--muted-color);
  position: relative;
}

.header {
  min-height: 80px;
  background-color: var(--background-color);
  padding: 25px;
  margin-bottom: 2em;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}

.container {
  position: relative;
  max-width: 40%;
  background-color: var(--background-color);
  border: thin gray solid;
  border-radius: 5px;
  padding: 0px;
  margin: 0 auto 25px;
  top: 150px;
  bottom: 1rem;
  font-size: .75rem;
}

@media only screen and (max-width: 883px) {
  .container {
    max-width: 70%;
    background-color: var(--background-color);
    border: thin gray solid;
    border-radius: 5px;
    padding: 0px;
    margin: 0 auto 25px;
  }
}

.card-content {
  padding: 25px;
}

.like-btn {
  padding: 5px 10px;
}

.image-container{
  background-color: var(--image-background);
}

.main-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  max-width: 20px;
}

.liked {
  color: var(--liked-color);
}

.title {
  display: flex;
  font-size: 1.15rem;
  justify-content: space-between;
}

.tag-line {
  font-size: .9rem;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}